<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="formui" connectionString="Server=(localdb)\\MSSQLLocalDB;Database=kspStoreDB_0001;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>

  </system.web>
</configuration>